.container{
    text-align: center;
    margin: auto;
}
#changeColor-btn {
    width: 100px;
    height: 50px;
    background-color: red;
    
}
#changeColor-btn:hover {
    background-color: blue;
}
#color-box {
    width: 200px;
    height: 200px;
    background: #eee;
    margin: 20px auto;
    border: 1px solid #ccc;
}